---
title: Amateurs and Professionals
description: Defining why you need to go that extra mile.
---

h1 Amateurs and Professionals

p Very motivational list of things I'd like to think I do, or at least strive for.&nbsp;
  a(href="https://www.farnamstreetblog.com/2017/08/amateurs-professionals/") Source
  
p My favorites
  ul
    li Amateurs blame others. Professionals accept responsibility.
    li Amateurs focus on being right. Professionals focus on getting the best outcome.
    li Amateurs focus on identifying their weaknesses and improving them. Professionals focus on their strengths and on finding people who are strong where they are weak.
    li Amateurs value isolated performance. Think about the receiver who catches the ball once on a difficult throw. Professionals value consistency. Can I catch the ball in the same situation 9 times out of 10?
    li Amateurs think they are good at everything. Professionals understand their circles of competence.

  
  