---
title: The Importance of Play
description: A playful attitude is good for something!
---

h1 The Importance of Play

p Great article that slowly leads you into why play is so crucial to how we learn and grow. There is a reason play captures our attention, and we always seek the new and unexpected.&nbsp;
  a(href="https://www.farnamstreetblog.com/2017/08/value-play-driver-innovation/") Source

blockquote humans — and other organisms — evolved neural mechanisms that promote learning when they have experiences that confound their expectations. When the world surprises us with something, our brains are wired to pay attention
p.text-right
  i - Steven Johnson