---
title: Visual Tricks
description: Some Visual illusions that reveal the hidden workings of the brain
---

h1 Visual Tricks On Your Brain

p
  a(href="http://www.relativelyinteresting.com/3-visual-illusions-reveal-hidden-workings-brain/") Source

p Try staring at this like you are looking a thousand miles through it, then let it go out of focus. 
  | Can you see the circles?

img(src="/files/coffer-illusion.jpg")