---
title: Nokia's API Building guide
description: Some clever and wise insights into building good api's
---

h1 Nokia's API Building Guide

p
  a(href="https://github.com/papers-we-love/papers-we-love/blob/master/api_design/api-design.pdf") Source

p I didn't get to finish this, but there are some clever things going on like naming suggestions and
  | some other foot-guns I hadn't thought of before. This made me smile:

p Even the table of contents has great one liners that still ring true today:
p
  q Choose self-explanatory names and signatures 
p
  q Choose unambiguous names for related things
p
  q Beware of false consistency
p
  q Avoid abbreviations
p
  q The best API is no API