---
title: François Chollet's "Notes to Myself on Software Engineering"
description: An awsome collections of notes about software development
---

h1.h-entry François Chollet's "Notes to Myself on Software Engineering"
p.small Published by 
  a.p-author.h-card(rel="author" href='http://jamesjnadeau') James J Nadeau
  |  on&nbsp;
  time.dt-published(datetime='2018-12-14 00:00:00') 2018-12-14


p.p-summary
  | Beutiful advice on how to work better with others and build great things.
  br
  i I read this months ago but I'm just getting to posting about it now

.e-content
  p Some gems I took away:
  p.well "Ask not what your pull request can do for your next promotion, ask what your pull request can do for your users and your community"
  p.well "It’s okay to say no — just because someone asks for a feature doesn’t mean you should do it."
  p.well "Good software makes hard things easy. Just because a problem looks difficult at first doesn’t mean the solution will have to be complex or hard to use."
  p.well "Simple things should be simple, complex things should be possible. Don’t increase the cognitive load of common use cases for the sake of niche use cases, even minimally."
  p.well "If the cognitive load of a workflow is sufficiently low, it should be possible for a user to go through it from memory (without looking up a tutorial or documentation) after having done it once or twice."
  p.well "Because code is communication, naming matters"
  p.well "Career progress is not how many people you manage, it is how much of an impact you make: the differential between a world with and without your work."
  p.well "Self-direction — agency over your work and your circumstances — is the key to life satisfaction. Make sure you grant sufficient self-direction to the people around you, and make sure your career choices result in greater agency for yourself."
  p.well "Productivity boils down to high-velocity decision-making and a bias for action. This requires a) good intuition, which comes from experience, so as to make generally correct decisions given partial information, b) a keen awareness of when to move more carefully and wait for more information, because the cost of an incorrect decision would be greater than cost of the delay. The optimal velocity/quality decision-making tradeoff can vary greatly in different environments."
  p.well "When we find ourselves in a conflict, it’s a good idea to pause to acknowledge our shared values and our shared goals, and remind ourselves that we are, almost certainly, on the same side."
  
  p
    b
      a(href="https://boingboing.net/2018/09/25/values-over-self-interest.html" rel="noopener") Source
