---
title: Fred's ImageMagick Scripts
description: An impressive collection of ImageMagick scripts
---

h1.h-entry  Fred's ImageMagick Scripts

p.small.text-center
  a.p-author.h-card(rel="author" href='http://jamesjnadeau') James J Nadeau
  | &nbsp;on 
  time.dt-published(datetime='2018-03-26 00:00:00') 2018-03-26
.e-content
  p A huge list of impressive image manipulation scripts. From 3d wraps to blurs and color differentiaions. All from the CLI.
  p
    i
      a(href="http://www.fmwconcepts.com/imagemagick/index.php") Fred's ImageMagick Scripts
