---
title: An Awesome Video about Testing
description: A great video about testing and how to implement it well.
---

h1.h-entry  An Awesome Video about Testing
p.small Published by 
  a.p-author.h-card(rel="author" href='http://jamesjnadeau') James J Nadeau
  time.dt-published(datetime='2018-12-13 00:00:00')  on 2018-12-13


p.p-summary This is an excellent video about testing in general. It touches some great points on
  | what you should be testin, and why. Take a look:
  br
  br
  a(hre="https://vimeo.com/257056050" rel="noopener") Link to Video
.e-content
  p This gem comes around the 24 minute mark:
  p.well "a function should do or delegate, but never both" 
  
