---
title: Phil Agre on How to Help Someone Use a Computer
---

h1.h-entry Phil Agre: How to Help Someone Use a Computer
p.small Published by 
  a.p-author.h-card(rel="author" href='http://jamesjnadeau') James J Nadeau
  |  on&nbsp;
  time.dt-published(datetime='2018-12-14 00:00:00')  2018-12-14


p.p-summary
  | Originally I found this&nbsp;
  a(href="https://boingboing.net/2017/08/11/20-year-old-advice-on-helping.html") here,&nbsp;
  | but the source link was broken when I finally got around to writting this(a year later)...
  | It truely is amazing how this stands the sands of time. 
  
.e-content
  p
    b
      a(href="https://www.edu-cyberpg.com/Technology/Agre.html") Source Content
  p It's also humbling, and makes returning to this 
    | brings back the humble feeling I should be having to better empathize with those I work with who are not as experienced as I am.
