---
title = ''
description = '!'
---

h1.h-entry 
p.small Published by 
  a.p-author.h-card(rel="author" href='http://jamesjnadeau') James J Nadeau
  |  on&nbsp;
  time.dt-published(datetime='2019-08-19 00:00:00')  2019-08-19


p.p-summary
  | I just read parts one and two of his story. It was compelling and well written. 
  | I can't wait to see what he's come up with next.

p.e-content

  | It's relatable how a hard drive corruption took down that much "wealth". 
  | Hard to imagine the rollercoaster ride of emotions he's been through. What a story to tell though. 
  br
  a(href="http://www.satoshinrh.com/") www.satoshinrh.com
