---
  -var title = 'Today I ...'
  -var description = 'I hope to write here daily about something I\'ve done, learned, read, etc. We\'ll see how this goes....'
---

h1.no-animation Today I ...
  br
  span.lead [ Found, Learned, Saw, Read, Experienced, Grew ]
p.lead.text-center A collection of things I found interesting at the time.
p.text-center
  a(href="rss.xml" target="_blank")
    img(src='/files/rss.svg' height="20px")
.row
  .col-md-8.offset-md-2
    ul.list-group
      h3.list-group-item.text-center 2019
      a.list-group-item(href='/TIL/2019-08-19-the-originator-of-bitcoin-has-a-great-story/index.html') #[b 8/19] The originator of bitcoin has a great story!
      
      h3.list-group-item.text-center 2018
      a.list-group-item(href='/TIL/2018-12-14-phil-agre-how-to-help-someone-use-a-computer/index.html') #[b 12/14] Phil Agre: How to Help Someone Use a Computer
      a.list-group-item(href='/TIL/2018-12-14-notes-on-software-engineering/index.html') #[b 12/14] Notes on Software Engineering
      a.list-group-item(href='/TIL/2018-12-13-an-awesome-video-about-testing/index.html') #[b 12/13] An Awesome Video About Testing
      a.list-group-item(href='/TIL/2018-03-26-freds-imagemagick-scripts/index.html') #[b 3/26] Fred's ImageMagick Scripts
      

      h3.list-group-item.text-center 2017
      a.list-group-item(href='/TIL/2017-08-29-the-importance-of-play/index.html')
        b 8/29 &nbsp;
        | The Importance of Play
      a.list-group-item(href='/TIL/2017-08-23-amateurs-and-professionals/index.html')
        b 8/23 &nbsp;
        | Amateurs Vs Professionals
      a.list-group-item(href='/TIL/2017-08-13-nokia-api-guide/index.html')
        b 8/13 &nbsp;&nbsp;
        | An old guide on building API's by nokia
      a.list-group-item(href='/TIL/2017-08-03-visual-tricks/index.html')
        b 8/3 &nbsp;&nbsp;
        | Visual Tricks On Your Brain
      a.list-group-item(href='/TIL/2017-06-05-generate-git-change-log/index.html')
        b 6/5 &nbsp;&nbsp;
        | Generate a Changelog
      a.list-group-item(href='/TIL/2017-05-31-lonely-at-the-top/index.html')
        b 5/31 &nbsp;
        | Lonely at the Top
      a.list-group-item(href='/TIL/2017-05-15-describe-semantic-web/index.html')
        b 5/15 &nbsp;
        | Describing the Semantic Web
      a.list-group-item(href='/TIL/2017-05-14-feynman-technique/index.html')
        b 5/14 &nbsp;
        | Learn Anything in Four Steps
      a.list-group-item(href='/TIL/2017-03-21-complex-decision-making/index.html')
        b 3/21 &nbsp;
        | Make Complex Decision Making Easy

      h3.list-group-item.text-center 2016
      a.list-group-item(href='/TIL/2016-10-11-node-pre-gyp/index.html') 1
        b 0/11 &nbsp;
        | Forcing builds on node-pre-gyp
      a.list-group-item(href='/TIL/2016-10-8-first/index.html')
        b 10/8 &nbsp;&nbsp;
        | First
